body{
    background: url(../../assets/photography/bg.jpg) repeat-y center center fixed;
    background-size: cover;
    color: #fff;
}
.top-margin{
    margin-top: 2rem;
}
.top-padding{
    padding-top: 2rem;
}
.logo-img{
    max-height: 9dvb;
}
.bird-container{
    max-height: 52dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.bird-container table{
    background: #f0f0f0;
}

/* Add this to your /birdsDocumenting/css/style.css file */
p.para::first-letter {
    float: left; 
    font-size: 4em; 
    padding: 5px; 
    margin-right: 5px; 
    line-height: 1; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  p.para{
    text-align: justify;
  }