header{
    background: #000;
    color: #fff;
    a{
        color: #fff;
    }
    .navbar{
        background: none !important;
        padding: 1rem;
        img{
            max-width: 10rem;
        }
    }
}