<footer class="mt-auto">
  <div class="text-center">
    <a href="#" class="text-decoration-none me-3">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#" class="text-decoration-none me-3">
      <i class="fa-brands fa-square-x-twitter"></i>
    </a>
    <a href="#" class="text-decoration-none me-3">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#" class="text-decoration-none me-3">
      <i class="fa-brands fa-threads"></i>
    </a>
    <!-- Add more social media icons as needed -->
  </div>
</footer>
