footer{
    background: rgba(0,0,0,0.8);
    margin: 0;
    padding: 0;
    padding: 2rem 0;

    width: 100%;
    a{
        font-size: 2rem;
        color: #fff;
        &:hover{
            color: #f00;
        }
    }
}