<footer class="mt-auto">
  <div class="text-center">
    <a href="https://www.facebook.com/vivekdoshiphotography" class="text-decoration-none me-3" _blank>
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://x.com/vivekdoshi11" class="text-decoration-none me-3" _blank>
      <i class="fa-brands fa-square-x-twitter"></i>
    </a>
    <a href="https://instagram.com/viveksphoto/" class="text-decoration-none me-3" _blank>
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.threads.net/@viveksphoto" class="text-decoration-none me-3" _blank>
      <i class="fa-brands fa-threads"></i>
    </a>
    <!-- Add more social media icons as needed -->
  </div>
</footer>
