<div class="container">
  <section>
    <h1>Contact Us</h1>
  </section>

  <section class="contact-content">
    <div>
      Have a question about our photography services, pricing, or availability?
    </div>
    <div>Want to discuss a potential project or collaboration?</div>
    <div>Eager to hear from you.:</div>

    <div>
      <span><i class="fa-brands fa-square-instagram"></i></span> &nbsp;<a
        href="https://instagram.com/viveksphoto"
        target="_blank"
        >[at]viveksphoto</a
      >
    </div>
    <div>
      <span><i class="fa-solid fa-envelope"></i></span> &nbsp;<a
        href="mailto:viveksphoto@outlook.com"
        >viveksphoto[at]outlook.com</a
      >
    </div>
  </section>
</div>
