body{
    background: url(../../assets/photography/bg.jpg) repeat-y center center fixed;
    background-size: cover;
    color: #fff;
}
.top-margin{
    margin-top: 2rem;
}
.top-padding{
    padding-top: 2rem;
}
.logo-img{
    max-height: 9dvb;
}
.bird-container{
    max-height: 52dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Add this to your /birdsDocumenting/css/style.css file */
p.para::first-letter {
    float: left; /* This allows the letter to be treated as a block element, enabling more complex styling */
    font-size: 4em; /* Makes the first letter larger. Adjust size as needed */
    padding: 5px; /* Adds space between the letter and its border */
    margin-right: 5px; /* Adds space between the styled letter and the rest of the text */
    line-height: 1; /* Adjusts the line height of the letter to prevent spacing issues */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  p.para{
    text-align: justify;
  }