<div class="main-wrapper">
  <section class="container-fluid d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/assets/logowhite.png" alt="" class="img-fluid"></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <!-- Add more nav items as needed -->
          </ul>
        </div>
      </nav>
    </header>

    <main class="flex-fill">
        <section class="block-intro">
            <div class="container">
                <div class="avatar"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>Vivek Doshi</strong>. I work as Software Engineer and Photographer. I have passion for capturing Love, Emotions, Nature and Wildlife</p>
                </div>
            </div>
        </section>

        <section class="portfolio-skills">
            <div class="container">
                <div class="heading">
                    <h1>My Affinities</h1>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-hippo" aria-hidden="true"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Wildlife</h3>
                                <p class="card-text"> The patience and perseverance to wait for the right moment, and the courage and respect to approach wildlife without disturbing them. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-earth-asia" aria-hidden="true"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Landscapes</h3>
                                <p class="card-text"> A creative vision to discover striking vantage points and foreground elements that add dynamism and depth..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon fa-solid fa-camera" aria-hidden="true"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Videos</h3>
                                <p class="card-text">Getting started with Aerial Imaging and Cinemetography</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="mt-auto">
        <div class="footer-container container">
            <div class="row">
                <p class="col">
                    If you like what you see, follow my journey for more breathtaking moments captured in time. Stay tuned for a visual adventure through the wonders of nature, life, and beyond. Don't miss out on new content – join me and let's explore together!
                </p>
            </div>
        </div>
        <div class="text-center">
          <a href="https://www.facebook.com/vivekdoshiphotography" class="text-decoration-none me-3" _blank>
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://x.com/vivekdoshi11" class="text-decoration-none me-3" _blank>
            <i class="fa-brands fa-square-x-twitter"></i>
          </a>
          <a href="https://instagram.com/viveksphoto/" class="text-decoration-none me-3" _blank>
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.threads.net/@viveksphoto" class="text-decoration-none me-3" _blank>
            <i class="fa-brands fa-threads"></i>
          </a>
          <!-- Add more social media icons as needed -->
        </div>
    </footer>
  </section>
</div>
